@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  background-color: black;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.box_imgCard{
  overflow: hidden;
}
.card_country img{
  transform: scale(1);
  transition: all .35s ease-in-out;
}
.card_country:hover img{
  filter: saturate(120%);
  transform: scale(1.2);
}